:root {
  --color-white: #f5f5f5;
  --color-black: #333;
  --color-cyan: #7bb7fa;
}

html {
  /* set the base font-size */
  font-size: 62.5%;
}

body {
  /* set the default background */
  background: var(--color-white);

  /* set the default font-color */
  color: var(--color-black);
}

/* code blocks */
code[class*="language-"],
pre[class*="language-"] {
  font-size: 2rem;
}

a {
  /* set the default link color */
  color: var(--color-cyan);
}

ul {
  margin: 0;
}
li {
  margin: 0.5em;
}

/* https://hiroppy.github.io/fusuma/docs/guides/slide-syntax#declaring-section-title */
.section-title {
}

.title {
}

.avatar {
  width: 200px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 1em 0;
}

figcaption {
  font-size: 0.6em;
  margin-top: 1em;
  text-align: center;
}

.flex-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
